body {
    max-width: 600px;
    margin: auto;
}

header, main, footer, section {
    overflow: auto;
    height: max-content;
}

header, footer {
    background-color: #F2A7A0;
    text-align: center;
}

main {
    background-color: #F2F0CE;
    padding: 10px 30px;
}

h1 {
    font-size:x-large;
}

h2 {
    font-size:larger;
}

p {
    font-size:medium;
    padding: 10px;
    text-align: justify;
}


#js_section {
    background-color:#AAD6FA;
    padding:20px;
}

#tinyimage {
    width:10px;
    height:10px;
    display:inline;
}

img {
    max-width: 250px;
    max-height: 200px;
    width:250px;
    height:200px;
    object-fit: cover;
    margin: 0px;
    background-color:white;
}

#image1_group {
    float: right;
    margin-left: 30px;
    margin: 10px;
    /*border: gray 1px solid;*/
}

#image1_thumbnail_group {
    width: max-content;
    margin: auto;
}

.image1_thumbnails, .copied_image {
    width: 80px;
    height: 50px;
    object-fit: cover;
    margin: 0px;
}

#image2 {
    float: left;
    margin: 10px;
}

li {
    font-size:medium;
    display: inline;
    background-color: #F27979;
    padding: 5px 10px;
    margin: 0px 10px;
}